* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.content h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 1em;
  font-family: "Poppins", sans-serif;
  width: 550px;
  margin-right: 20px;
}

.content p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  max-width: 430px;
  margin: 20px 0;
}

.top-right p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: hsl(246, 25%, 77%);
  background-color: hsl(248, 32%, 49%);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 6px 20px 0 rgba(155, 129, 129, 0.8);
}

span {
  color: white;
  font-weight: bold;
}

.right {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(11, 15, 17, 0.671);
}

.form input {
  width: 250px;
  height: 50px;
  background: transparent;
  border-bottom: 1px solid gray;
  border-top: none;
  border-right: none;
  border-left: none;
  letter-spacing: 1px;
  margin-bottom: 10px;
  outline: none;
}

.form a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 15px;
  background: hsl(154, 59%, 51%);
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.form a:hover {
  color: gray;
  transition: 0.5s;
}

.term p {
  font-family: "Poppins", sans-serif;
  color: hsl(246, 25%, 77%);
  font-size: 8.2px;
  margin-top: 10px;
}

.term span a {
  display: inline-block;
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  transition: 0.5s;
}

.term span a:hover {
  transform: translateY(8px);
}

@media (max-width: 775px) {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "content" "top-right" "right" "form" "term";
  }
}
